.card.text-center(style='background-color:#A4A4A4')
  .card-body
    // <h5 class="card-title"></h5>
    .care.text-white
      h2 Competition Collection 
    p.card-text
    .care.text-white
      | All rights reserved. &copy;
      br
      | 2018 yurilee
      br
    br
    

