.header.clearfix
  nav.navbar.navbar-expand-md.navbar-light.bg-dark.fixed-top
    .container
      a.navbar-brand(href="/" style='color: white' )
        img(src='/images/logo.png' height = 30 width = 30)
        | &nbsp;&nbsp;Competition Collection
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

      #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href="/competitions") 
              i.fas.fa-search
              | Show Competitions
      

        
          if (!currentUser) 
            li.nav-item
              a.nav-link(href='/signin') 
                i.fas.fa-sign-in-alt
                | &nbsp; Signin  
            li.nav-item
              a.nav-link(href='/users/new') 
                i.fas.fa-sign-language
                | &nbsp; Signup 
            

            
          else
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href=`/users/${currentUser._id}` , data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.fas.fa-user
              .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href=`/users/${currentUser._id}`)  
                  i.fas.fa-address-book
                  | &nbsp; My Profile
                a.dropdown-item(href=`/users/${currentUser._id}/registered`)  
                  i.fas.fa-pen-square
                  |  &nbsp; Registered Competition
                a.dropdown-item(href=`/users/${currentUser._id}/favorite`)
                  i.fas.fa-heart
                  | &nbsp; My Favorite
            li.nav-item
              a.nav-link(href='/signout') 
                i.fas.fa-sign-out-alt
                | Signout
            li.nav-item
              a.nav-link(href="/competitions/new") 
                i.fas.fa-pencil-alt
                | &nbsp; Create Competition

          if (currentUser && currentUser.email == 'admin@gmail.com')    
            li.nav-item.dropdown
              a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.fas.fa-unlock-alt
                | &nbsp; admin
              .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                a.dropdown-item(href="/competitions/manage")  
                  i.fas.fa-check-circle
                  | &nbsp; 공모전 관리
                a.dropdown-item(href="/users") 
                  i.fas.fa-users
                  | &nbsp; 사용자 관리
                a.dropdown-item(href='#') 
                  i.fas.fa-fire-extinguisher
                  | &nbsp; 신고 관리
  

