.content= competition.content
.tags.badges
  each tag in competition.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-votes= competition.numLikes] likes,
      #[span.number.num-answers= competition.numAnswers] answers,
      #[span.number.num-views= competition.numReads] reads
  .col-sm
    .author
      | asked on #{moment(competition.createdAt).format('YYYY-MM-DD')}
      if competition.author
        | 
        | by #[a(href=`/users/${competition.author.id}`, style='color:black')= competition.author.name] 
