//- .content= competition.content
.tags.badges
  each tag in competition.tags
    span.badge.badge-phill.badge-secondary= tag
    | 
.row
  .col-sm
    .numbers.
      #[span.number.num-likes= competition.numLikes] likes,
      #[span.number.num-unlikes= competition.numunLikes] unlikes,
      #[span.number.num-answers= competition.numAnswers] answers,
      #[span.number.num-reads= competition.numReads] reads
  .col-sm
    .author
      | asked on #{moment(competition.createdAt).format('YYYY-MM-DD')}
      if competition.author
        | 
        if (currentUser && currentUser.email == 'admin@gmail.com')
        | by #{competition.author.name}


//- if (competition.author.id == currentUser.id || currentUser && currentUser.email == 'admin@gmail.com')