extends ../layout

block content
  .container
    h1.main-title 신고하기
    form(action=`/competitions/${competition.id}/declares`, method="POST")
      .form-group
        label(for="declare_reason") 신고사유
        input.form-control(type="text", name="survey_reason")      
      button.btn.btn-outline-primary(type="submit") 제출
      br
      br


//- 수정필요