extends ../layout

block content
  .container
    h1.main-title New Competition
    form(action="/competitions", method="POST")
      include _form
      button.btn.btn-outline-primary(type="submit") Post Your Competition

    