<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
        <select id="selectBox" name="selectBox">
                <option value="option1"> option1 </option>
                <option value="option2"> option2 </option>
                <option value="option3"> option3 </option>
                <option value="option4"> option4 </option>
            </select>


            <script>
            $("#selectBox").append('<option value="option6">option6</option>');
            </script>

            <script>$.each(selectValues, function(key, value) {
                    $('#mySelect')
                        .append($("<option></option>")
                        .attr("value",key)
                        .text(value));
               });
            </script>

            <script>
            <select id="selectBox" name="selectBox">
                <option value="option1"> option1 </option>
                <option value="option2"> option2 </option>
                <option value="option3"> option3 </option>
                <option value="option4"> option4 </option>
            </select>
            </script>


            <script>  $("#selectBox option[value='option1']").remove();</script>
      
</body>
</html>