extends ../layout


block content
  .container
    br
    h1.main-title My favorite
    .row.col-md-7.table-responsive
      table#customerTable.table.table-bordered.table-hover
        thead
          tr
            th Id
            th Title
            th content

        tbody






