extends ../layout
include ../includes/_paginate


block content
  .container
    h1.main-title My favorite 
    table.table.table-hover
      thead
        tr
          th Title
          th Field
          th
      tbody
        each ff in favorite
          tr
            td(style='color: brown')= ff.competition.title
            td= ff.competition.field
