extends ../layout


block content
  .container
    br
    h1.main-title My favorite
    br
    br
    if(favorite.total <= 0)
      p 저장된 공모전이 없습니다. 
      br
    else
      table.table.table-hover
        thead
          tr
            th
            th Title
            th Person
        tbody
          - var num = 1;
          each f in favorite
            tr
              td= num++
              td= f.competition.title
              td= f.competition.person
        
              




